name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag yuuko:${{ github.sha }}
    - name: Push the Docker Image
      run: docker login -u $DOCKER_USERNAME -p ${{ secrets.DOCKER_TOKEN }} && docker push $DOCKER_USERNAME/yuuko:${{ github.sha }}
