name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag crackheadakira/yuuko:latest
    - name: Push the Docker Image
      run: docker login -u crackheadakira -p ${{ secrets.DOCKER_TOKEN }} && docker push crackheadakira/yuuko:latest
